.App {
    text-align: center;
    left: 0;
    top:0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 1500px;
    height: 800px;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    
}

.myDiv1{
 position: fixed;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url(imgs/bak.png) no-repeat center center fixed;

   
}
.myImg{
    
 position: absolute;
     margin: 20px;
    height: 40;
 
}

img.myImg1:hover {
    transform:translateY( -4px) scale(1.1)
    ;
}
#myImg1{
  position: absolute;
    left: 20%; 
    margin-bottom: 20%;
    top:35%;
    height: 40%;
}
#myImg2{
  position: absolute;
    left: 40%; 
    height: 40%;
    top:35%;
    margin-bottom: 20%;
}
#myImg3{
  position: absolute;
    left: 60%; 
    height: 40%;
    top:35%;
    margin-bottom: 20%;
}
#myImg4{
  position: absolute;
    left: 10%; 
    margin-bottom: 20%;
    top:15%;
    height: 30%;
}
#myImg5{
  position: absolute;
    left: 10%; 
    height: 17.5%;
    top:48%;
    margin-bottom: 20%;
}
#myImg7{
  position: absolute;
    left: 10%; 
    height: 24%;
    top:70%;
 
}

#myImg8{
  position: absolute;
    left: 0%; 
    margin-bottom: 20%;
    top:35%;
    height: 40%;
}
#myImg9{
  position: absolute;
    left: 22%; 
    height: 40%;
    top:35%;
    margin-bottom: 20%;
}
#myImg10{
  position: absolute;
    left: 45%; 
    height: 40%;
    top:35%;
    margin-bottom: 20%;
}

#myImg11{
  position: absolute;
    left: 1%; 
    margin-bottom: 20%;
    top:35%;
    height: 35%;
}
#myImg12{
  position: absolute;
    left: 33%; 
    height: 35%;
    top:35%;
    margin-bottom: 20%;
}
#myImg13{
  position: absolute;
    left: 68%; 
    height: 35%;
    top:35%;
    margin-bottom: 20%;
}
#myImg14{
  position: absolute;
    left: 5%; 
    margin-bottom: 20%;
    top:55%;
    height: 40%;
}
#myImg15{
  position: absolute;
    left: 30%; 
    height: 25%;
    top:38%;
    margin-bottom: 20%;
}
#myImg16{
  position: absolute;
    left: 50%; 
    height: 10%;
    top:25%;
    margin-bottom: 20%;
}


#myImg6{
  position: absolute;
   left: 290px;
    bottom: 200px;
    height: 403px;
    margin: 20px;
}
.myDiv2{
   position: absolute;
   top: 20;
    background-color: coral;
    width: 20%;
    height: 20%;
    right: 0px;
    text-align: center;
    left: 0%;
    
    
    border-style: groove;
}
.myDiv3{
   position: absolute;
   top: 20;
    background-color: coral;
    width: 20%;
    height: 20%;
    right: 0px;
    text-align: center;
    left: 20%;
    
    
    border-style: groove;
}
.myDiv4{
   position: absolute;
   top: 20;
    background-color: coral;
    width: 20%;
    height: 20%;
    right: 0px;
    text-align: center;
    left: 40%;
    
    
    border-style: groove;
}
.myDiv5{
   position: absolute;
   top: 20;
    background-color: coral;
    width: 20%;
    height: 20%;
    right: 0px;
    text-align: center;
    left: 60%;
    
    
    border-style: groove;
}
.myDiv6{
   position: absolute;
   top: 20;
    background-color: coral;
    width: 20%;
    height: 20%;
    right: 0px;
    text-align: center;
    left: 80%;
    
    
    border-style: groove;
}

#text{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    
}
#mybut{
 position: absolute;
  top: 0;

    width: 10%;
    height: 7%;
    right: 0px;
    text-align: center;
    left: 0px;
    margin: auto;
    border-style: groove
}

#idposition{
    bottom: 0%;
    position: absolute;
}