
#jpunsbox {
    
    height: 30%;
    bottom: 20%;
    left: 5%;
    position:absolute;
}
#jpunsbox2 {
    
    height: 50%;
    bottom: 20%;
    left: 5%;
    position:absolute;
}
#asatbox {
    
    height: 30%;
    bottom: 7%;
    right: 5%;
    position:absolute;
}
#asatbox2 {
    
    height: 50%;
    bottom: 7%;
    right: 5%;
    position:absolute;
}
#title11 {
    height: 10%;
    top:19%;
    left: 35%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}
